
$backgorundColor: white;
$backgroundColorGrey: #e2e4e5;
$primaryColor: #ffcc00;
$primaryText: #313131;
$primaryTextDark: #111111;
$primaryTextLight: #7f7f7f;

$secondaryText: #FAFAFA;
$sliderBackgroundColor: #31313151;
$shadowColor: #111111;


$bordercolor: #e9e9e9;

$footerColor: #111111;

